* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  height: 100vh;
  background-image: url(./assets/bg-linktree-medicina.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat  ;
}
